.container-main {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;

}


.title {
    text-align: center;
}

/* Saló cards */
.salo-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
    margin-left: 30%;
}

.salo-cards .btn {
    width: 100%;
    text-align: center;
}


.salo-cards h3 {
    margin-bottom: 5px;
    text-align: center;
}

.salo-cards p {
    text-align: center;
}

.salo-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #381845;
    font-weight: bold;
}

.salo-cards a:hover i {
    margin-left: 10px;
}

.salo-btn {
    width: fit-content;
    border: none;
    background-color: #F5F4F9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #381845;
    font-size: 15px;
}

.banner_section{
    width: 100%;
    max-height: 400px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}


.banner_centres{
    width: 100%;
    max-height: 400px;
}



/* Mobile First Attributes */



@media(max-width: 500px) {
    .salo-cards {
        grid-template-columns: 1fr;
    }

}