/* Main Section */

.main-section {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 100px;
}

.btn {
  width: fit-content;
}


/* Lateral Menu */

.menuLateral {
  width: 200px;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
  justify-content: space-between;
  background-color: #F5F4F9;
  color: #381845;
  font-weight: bold;
  position: fixed;
}

.menuLateral a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #381845;
  background-color: #B692B2;
  border-radius: 0px;
}

.menuLateral a:hover {
  text-decoration: none;
  color: #613E67;
}

/* Reserves cards */
.home-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}

.reserves-cards .btn {
  width: 100%;
}

.reserves-cards img {
  width: 90%;
  margin-bottom: 20px;
  max-height: 126px;
}

.reserves-cards h3 {
  margin-bottom: 5px;
  text-align: center;
}

.reserves-cards p {
  text-align: center;
}

.reserves-cards a {
  display: inline-block;
  padding-top: 10px;
  color: #381845;
  font-weight: bold;
}

.reserves-cards a:hover i {
  margin-left: 10px;
}


/* Mobile First Attributes */

@media(max-width: 700px) {
  .reserves-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .reserves-cards img {
    max-height: none;
  }

  .main-section{
    display: block;
  }

}


@media(max-width: 500px) {
  .reserves-cards {
    grid-template-columns: 1fr;
  }

  .reserves-cards img {
    max-height: none;
  }
}