/* Section A */
.home-section-a {
    width: 100%;
    height: 400px;
    background: url('/img/banner_Tractaments.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
  
  .home-section-a h2, .home-section-a p {
    margin-bottom: 10px;
  }
  
  .home-section-a .btn {
    margin-top: 20px;
  }
  
  /* Home cards */
.home-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
    margin-top: 15px;
  }

  .home-cards .btn {
    width: 100%;
  }
  
  .home-cards img {
    width: 90%;
    margin-bottom: 20px;
    max-height: 126px;
  }
  
  .home-cards h3 {
    margin-bottom: 5px;
    text-align: center;
    min-height: 140px;
  }

  .home-cards p {
      text-align: center;
      min-height: 100px;
  }
  
  .home-cards a {
    display: inline-block;
    padding-top: 10px;
    color: #381845;
    font-weight: bold;
  }
  
  .home-cards a:hover i {
    margin-left: 10px;
  }

  /* Section C */
.home-section-c {
    width: 100%;
    height: 400px;
    background: url('/img/banner-registrat.png') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
  
  .home-section-c h2, .home-section-c p {
    margin-bottom: 10px;
  }
  
  .home-section-c .btn {
    margin-top: 20px;
  } 

  /* Mobile First Attributes */

  @media(max-width: 700px) {
    .home-cards {
        grid-template-columns: repeat(2, 1fr);
      }
      .home-cards img {
        max-height: none;
      }
      .home-section-a {
        background-size: contain;
      }
      .home-section-c {
        background-size: contain;
      }
    
    }


  @media(max-width: 500px) {
    .home-cards {
      grid-template-columns: 1fr;
    }
 
    .home-cards img {
        max-height: none;
      }
  }