/* Main Section */

.main-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Lateral Menu */

.menuLateral {
    width: 200px;
    align-items: center;
    height: 200px;
    padding: 20px 0;
    font-size: 13px;
    justify-content: space-between;
    background-color: #B692B2;
    color: #381845;
    font-weight: bold;
    position: fixed;
}

.menuLateral a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #381845;
    background-color: #B692B2;
    border-radius: 0px;
}

.menuLateral a:hover {
    text-decoration: none;
    color: #613E67;
}

/* Dades */

.dades {
    display: block;
    padding: 12px;
}

.dades btn {
    width: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 20px;
}

th {
    background-color: #F5F4F9;
    color: #381845;
}

.butons .btn{
    display: flex;
    flex-direction: row;
}

.btn {
    max-width: fit-content;
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
}

 /* Mobile First Attributes */

 @media(max-width: 700px) {
    .main-section {
        display: block;    
    }

    .btn{
      margin-bottom: 10px;
    }

    
 }