.title {
    margin-top: 10px;
    justify-self: center;
}

.subtitle {
    margin-top: 15px;
    justify-self: center;
}

.about {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}

.about p {
    margin: 30px 40px 10px;
}

.mission {
    display: flex;
    margin-top: 0px;
    margin-bottom: 60px;
}

.mission p {
    margin: 30px 40px 10px;
}

.about img {
    flex: 2;
    width: 400px;
}

.mission img {
    flex: 1;
    width: 400px;
}

.textAbout {
    flex: 1;
    margin-top: 70px;
}

.textMission {
    flex: 2;
    margin-top: 50px;
}

/* Section C */
.home-section-c {
    width: 100%;
    height: 400px;
    background: url('/img/mon_bellesa.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* Mobile First Attributes */

@media(max-width: 700px) {
    .mission {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
    }

    .img {
        width: 100%;
    }

    .textAbout {
        margin-top: 20px;
    }

    .textMission {
        margin-top: 0px;
    }

    .home-section-c {
        margin: 0px;
        height: 150px;
        background-size: contain;
    }


}



