/* Form */
      
form {
    border: none;
}
  
input[id=nomUsuari],
input[id=contrasenya] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input:focus{
    outline: #613E67;
}
   
.btn {
    justify-content: center;
    /*align-items: flex-end;*/
    margin-left: 30px;
    margin-top: 20px;
    display: block;
    max-width: fit-content;
}


.container-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;

  }

  .container-main img {
    width: 90%;
  }

  /*#registreClient input.form-control {
      width: 90%;
      margin-left: 30px;
  }*/


  /* Mobile First Attributes */

  @media screen and (max-width: 500px) {
    .container-main {
        grid-template-columns: 1fr;
      }

}