.btn {
    justify-content: center;
    margin-left: 30px;
    margin-top: 20px;
    display: block;
    max-width: fit-content;
}


.container-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    align-items: center;

  }

  .container-main img {
    width: 90%;
  }


  /* Mobile First Attributes */

  @media screen and (max-width: 700px) {
    .container-main img{
        width: 100%;
      }

}