/* Main Section */

.container-main {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;

}


/* Lateral Menu */
.menuLateral {
    width: 200px;
    align-items: center;
    padding: 20px 0;
    font-size: 13px;
    justify-content: space-between;
    background-color: #F5F4F9;
    color: #381845;
    font-weight: bold;
    display: inline-block;
}

.menuLateral a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: #381845;
    background-color: #B692B2;
    border-radius: 0px;
}

.menuLateral a:hover {
    text-decoration: none;
    color: #613E67;
  }

  .banner_section{
    width: 100%;
    max-height: 400px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    justify-content: space-around;

}


.banner_centres{
    width: 100%;
    max-height: 400px;
}

.title {
    text-align: center;
}

.btn{
    width: fit-content;
    
}

    /* Mobile First Attributes */

    @media(max-width: 700px) {
  
        .main-section {
          display: block;    
      }
  
      .btn{
        margin-bottom: 10px;
      }
    }